<!-- Comment form with comment list -->

<div class="comment_b">
  <div class="comment_b_form">
    <span>
      Post Comment 
      <i class="icon-comment-alt"></i> 
    <span/>
    <textarea type="text" id="response_comment_input">Enter Your Comment...</textarea>
    <div class="hideForm"></div>
    <div style="clear:both;"></div>
  </div>
  <a class="comment_b_list_header">
      <span class='link_msg_1'><%=showCommentMsg%> 
      </span><span class='link_msg_2 hide'>Hide Comments</span>
  </a>
  <div class="comment_b_list hide">
    <ul class="comment_b_list_content">
      
    
      
      
    </ul>
  </div>
</div>
