
<style type="text/css">
.comment{
	border: 1px solid white;
  margin:5px auto;
	width: 90%;
	
}
.comment textarea{
  height:50px;
	width: 98%;
	margin:0 auto;
}
.comment .addComment{
	float: right;
	margin:5px;
	
}
  
</style>
<div class="comment">
  <textarea type="text" id="response_comment_input" ></textarea>
  <div class="addComment btn">Post</div>
  <div style="clear:both;"></div>
</div>