<!-- comment form without a list  -->
<div class="comment">
  <textarea type="text" id="response_comment_input" ></textarea>
  <div class="addComment btn">Post Comment</div>
  <div style="clear:both;"></div>
</div>