.showQuestionHeaders{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#292929), color-stop(.6,#212121));
  color:white;
  padding:5px;
}

#showQuestion{
  width:90%;
  margin:0 auto;
  
}
#showQuestion .top{
  width:75%;
  float:left;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75) , 0 1px 0 rgba(255, 255, 255, 0.1);
}

#showQuestion .playerContainer{
  width:400px;
  height:300px;
  float:left;
}

#showQuestion .questionInfo{
  background:#DDD;
  width:234px;
  height:270px;
  color:#57585A;
  float:left;
  overflow:auto;
}
  #showQuestion .questionInfo h4{
    margin:10px;
   
  }
  #showQuestion .questionInfo p{
    margin:10px;
  }
#showQuestion .control_panel{
  float:left;
  width:234px;
  
}
#showQuestion .control_panel .leaveResponse{
  padding:6px;
  background:#242424;
  color:#DDD;
}
#showQuestion .control_panel .leaveResponse:hover{
  cursor:pointer;
  color:white;
  background:#121212;
}
#showQuestion .control_panel .leaveResponse:active{
   background:black;
}


#showQuestion .right{
  width:24%;
  margin-left:1%;
  float:left;
}
#showQuestion .moreQuestions{
  min-height:200px;
  background:#313131;
}

#showQuestion .bottom{
  width:75%;
  float:left;
  margin-top:10px;
}
#showQuestion .responseContainer{
  min-height:200px;
  background:#E0E0E0;

}
#showQuestion .responseContainer_header{
  
}
#commentForm{

}
