
<div id="homeList">
  <div class="floating">
    <div id="listControl">
      <h5>All Interview Questions</h5>
      <span id="listByType">Type</span>
      <span>|</span>
      <span id="listByOrder">All</span>
      <div style="clear:both;"></div>
    </div>
    <div id="allInterviewQuestion">
    </div>
   </div>
</div>

<script type="text/javascript">
  var questions=new InterviewBox.Collections.AllQuestionsCollection()
  var questionList=new InterviewBox.Views.QuestionList({collection:questions})
  $('#allInterviewQuestion').append( questionList.render_a().el)
  $('#listByOrder').live('click', function(){
    $('#allInterviewQuestion').append( questionList.render().el)
  })
  $('#listByType').live('click', function(){
    $('#allInterviewQuestion').append( questionList.render_a().el)
  })
</script>
