

<div class="archive_link">
<a class='q_link' href="/showQuestion/<%=id%>" >
 <img class="previewImg" src="<%=image%>" alt="" />
  <span class='q_title'><%=title%></span>
</a>
</div>

 

<!-- <div class="q_preview"><i class="icon-zoom-in"></i></div> -->