<div class="archive_link">
<a class='q_link' href="/showQuestion/<%=id%>" >
 <img class="previewImg" src="<%=image%>" alt="" />
  <span class="q_title_dimmer"></span>
  <span class='q_title'><h5><%=title%></h5></span>
</a>

<div class="q_preview"><i class="icon-play-circle"></i></div>
</div>
