
<div class="archive_link_simple">
  <a class='q_link_simple' href="/showQuestion/<%=id%>" >
    <div class="previewImg_simple">
       <img  src="<%=image%>" alt="" />
    </div>
  
   
   <div class="q_link_info">
     <span class='q_title_simple'><%=title%></span>
   </div> 
   <div style="clear:both;"></div>
  </a>
</div>


