


<div id="byType">
  <div class="category algorithm">
    <div class="category_header">
      <h4>Algorithms</h4>
    </div>
    <div class="content"></div>
  </div>
  <div class="category technical">
    <div class="category_header">
      <h4>Technical</h4>
    </div>
    <div class="content"></div>
  </div>
</div>
