<div id="showQuestion" class="container">
  <div class="top">
    <div class="playerContainer"></div>
  
    <div class="questionInfo">
      <h4><%=title%></h4>
      <p><%=description%></p>
    </div>
  
    <button class="leaveResponse">Record A Reponse</button>
  
    <div style="clear:both;"></div>
  </div>
  <div class="bottom">
    <div class="responseContainer">
      <!-- <div id="commentForm"></div> -->
      <div id="comment_and_responses"></div>
    </div>
    <div class="moreQuestions">more questions from this user</div>
    <div style="clear:both;"></div>
  </div>
</div>
