<div id="showQuestion" >
  <div class="top">
    <div class="playerContainer"></div>
  
    <div class="questionInfo">
      <h4><%=title%></h4>
      <p><%=description%></p>
    </div>
    <div class="control_panel">
      <div class="leaveResponse"><i class="icon-share-alt"></i>Record A Reponse</div>
    </div>
    
    <div style="clear:both;"></div>
  </div>
  
  <div class="right">
      <div class="moreQuestions floating">
          <div class="showQuestionHeaders">
            <span>More Quesiton From Bill</span>
          </div>
      </div>
  </div>
  
  <div class="bottom">
    <div class="responseContainer floating">
      <div class="showQuestionHeaders">
        <span>Responses And Comments</span>
      </div>
      <div id="comment_and_responses"></div>
    </div>
    
    <div style="clear:both;"></div>
  </div>
</div>
