<div id="questionRecorder">
  
  <div class="closeRecorder">
    <i class="icon-remove-circle"></i>
  </div>
  
  <div class="content container">
    <div class="moreQuestions floating">
        <div class="showQuestionHeaders">
          <span>Recorder</span>
        </div>
    </div>
    <div class="player">
      <span class="loadingPlayer">
        <i class="icon-facetime-video"></i>
        loading player...
      </span>
    </div>
        <form id="createQuestion" >
          <table>
            <tr>
              <td class='label'><span>Title:</span></td>
              <td class='input'><input class='title' type="text" name="title" /></td>
            </tr>
            <tr>
              <td class="label"><span>Type:</span></td>
              <td class='input'>            
                <select class='type' name="type">
                  <option value="algorithm">algorithm</option>
                  <option value="technical">technical</option>
                </select>
              </td>
            </tr>
            <tr class='input'>
              <td class="label"><span>Description:</span></td>
              <td><textarea class="description" type="text" name="description" /></textarea></td>
            </tr>
          </table>
          <input class="archiveId" name="archiveId" type="hidden" />
          <div class="form_footer">
            <button class="submit"> Sumbit Question</button>
          </div>
          
      </form>
    

  </div>
</div>
<div class="playerDimer"></div>