
<div id="responseRecorder">
  <div class="closeRecorder">
    <i class="icon-remove-circle"></i>
  </div>
  <div class="content container">
    <div class="player">
      <span class="loadingPlayer">
        <i class="icon-facetime-video"></i>
        loading player...
      </span>
    </div>
    <div id="questionForm">  
    </div>
  </div>
</div>
<div class="playerDimer"> <h1>screen dimmer</h1></div>