<div id="videoPlayer">
  <div class="closePlayer">
    <i class="icon-remove-circle"></i>
  </div>
  <div class="content container">
    <div class="player">
      <span class="loadingPlayer">
        <i class="icon-facetime-video"></i>
        loading player...
      </span>
    </div>
  </div>

</div>


<div class="playerDimer"></div>