/*---------------------------*
 *                           * 
 *          COMMON           *
 *                           *
 *---------------------------*/

  
/*---------------------------------*
 *                                 * 
 * eachQuestion_simple template    *
 *                                 *
 *---------------------------------*/

.q_simple{
  background:black;
  width:100%;
  height:50px;
  padding-top:2%;
  padding-bottom:2%;
  background:#3F4040;
  margin-top:2px;
  border-bottom:#575757;
  -webkit-transition: all 0.3s ;

}
.archive_link_simple:hover{

  -webkit-transition: all 0.3s ;
}
.q_link_simple{
  display:block;
  height:100%;
  width:100%;
}
.q_link_simple:hover{
  
}
.q_link_info{
  width:60%;
  height:96%;
  float:left;
}
.previewImg_simple{
  float:left;
  width:36%;
  height:96%;
  margin-left:2%;
  margin-right:2%;
  border-radius:4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  overflow:hidden;

}
.q_title_simple{
  display:block;
  width:94%;
  margin-left:1%;
  margin-right:3%;
  overflow:hidden;
  color:white;
  text-transform:capitalize;
}
/*----------------------------------*
 *                                  * 
 *  eachQuestion_fullView template   *
 *                                  *
 *----------------------------------*/
 
.q_full{
 width:250px;
 float:left;
 margin:5px;
 padding:5px;
 border:1px solid transparent;
 border-radius:2px;
 -webkit-transition: all 0.5s ;
}
.q_full:hover{
  background:white;
  border:1px solid #AAA;
  cursor:pointer;
  -webkit-transition: all 0.5s ;
}
.q_full .previewImg{
  float:left;
  background:black;
  width:100px;
  height:100px;
  overflow:hidden;
}
.q_full .previewImg span{
  display:block;
  width:150px;
  margin-left:-25px;
}
.q_full .previewImg .q_preview{
  position:relative;
  float:left;
  width:100px;
  height:100px;
  top:-100px;
  color:transparent;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 1) inset, 0 -1px 2px rgba(255, 255, 255, 0.1) inset;
  text-align:center;
  font-weight:normal;
  opacity:0.8;
  -webkit-transition: all 0.5s ;
}
.q_full .previewImg .q_preview:hover{
  color:white;
  opacity:1;
  cursor:pointer;
 -webkit-transition: all 0.5s ;
}
.q_full .previewImg .q_preview i{
  position:relative;
  top:40px;
  font-size:30px;
}
.q_full .q_info{
  position:relative;
  float:left;
  margin-left:5px;
  width:145px;
  height:100px;
}
.q_full .q_info .q_title{
  position:relative;
  top:-2px;
  display:block;
  width:100%;
  height:20px;
  overflow:hidden;
  color:#555;
  font-size:13px;
  font-weight:bold;
  margin-left:5px;
}
.q_full .q_info .q_author{
  position:relative;
  top:-5px;
  margin-left:5px;
  display:block;
  font-size:11px;
  
} 
.q_full .q_info .q_upVote{
  display:block;
  margin-left:5px;
  position:relative;
  
}
.q_full .q_info .q_time_full{
  position:relative;
/*  top:15px;*/
  margin-left:5px;
  display:block;
  font-size:11px;
  color:#6D6D6D;
}
.q_full .q_info .q_link_full{
  display:block;
  position:relative;
/*  top:15px;*/
  border:1px solid;
  border-color:#CCC #CCC #AAA;
  padding:2px;
  width:115px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
  box-shadow:inset 0 0 1px white;
  color:#1C1C1C;
  font-size:12px;
  font-weight:bold;
  -webkit-transition: background 0.9s ;
}
.q_full .q_info .q_link_full:hover{
  -webkit-transition: background 0.9s ;
  color:white;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#212121), to(#1C1C1C), color-stop(.7,#050505));
}
 .q_full .q_info .q_link_full i{
   vertical-align:middle;
   margin-left:5px;
 }
/*------------------------------------*
 *                                    * 
 *   eachQuestion_download template   *
 *                                    *
 *------------------------------------*/
 
 .q_download{
  display:block;
  width:250px;
  float:left;
  margin:5px 8px 5px 8px;
  padding:5px;
  border:1px dotted transparent;
  border-radius:2px;
   -webkit-transition: all 0.5s ;
/*  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1) inset, 0 -1px 2px rgba(255, 255, 255, 0.1) inset;*/
}
.q_download:hover{
/*  border-color:#4B4B4B;*/
    border-color:#0173A9;
     -webkit-transition: all 0.5s ;
}
.q_download .previewImg{
  float:left;
  background:black;
  width:100px;
  height:100px;
  overflow:hidden; 
}
.q_download .previewImg span{
  display:block;
  width:150px;
  margin-left:-25px;
}
.q_download .previewImg .q_preview{
  position:relative;
  float:left;
  width:100px;
  height:100px;
  top:-101px;
  color:transparent;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 1) inset, 0 -1px 2px rgba(255, 255, 255, 0.1) inset;
  text-align:center;
  font-weight:normal;
  opacity:0.8;
  -webkit-transition: all 0.5s ;
}
.q_download .previewImg .q_preview:hover{
  color:white;
  opacity:1;
  cursor:pointer;
  -webkit-transition: all 0.5s ;
}
.q_download .previewImg .q_preview i{
  position:relative;
  top:40px;
  font-size:30px;
}
.q_download .q_info{
  background:#0F0F0F;
  float:left;
  width:140px;
  height:100px;
  padding-left:5px;
  color:#DDD;
}
.q_download .q_title{
  display:block;
  position:relative;
  top:1px;
  width:100%;
  height:20px;
  font-size:13px;
  font-weight:bold;
  vertical-align:top;
  overflow:hidden;
}
.q_download .q_title i{
  position:relative;
  top:1px;
}
.q_download .q_upVote{
   display:block;
   position:relative;
   top:2px;
}
.q_download .q_time{
   display:block;
   font-size:11px;
   color:#606060;
}
.q_download .q_downloadButton{
   position:relative;
   top:10px;
   padding:3px;
   display:block;
   border-color:#CCC #CCC #AAA;
   border-top-left-radius:20px;
   border-bottom-left-radius:20px;
   border-top-right-radius:5px;
   border-bottom-right-radius:5px;
   background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
   width:90px;
   color:#1C1C1C;
   font-size:12px;
  font-weight:bold;
}
.q_download .q_downloadButton:hover{
  color:#0173A9;
  cursor:pointer;
}
.q_download .q_downloadButton i{
  vertical-align:middle;
  margin-left:5px;
}

/*---------------------------*
 *                           * 
 *  eachQuestion_a template  *
 *                           *
 *---------------------------*/
 
.category{
  min-height:200px;

}
.category_header{
/*  border:1px solid red;*/
/*  padding:2px;*/
  margin:10px auto;
  width:97%;
}
.category_header h4{
  margin:3px;
}
.category .content{
/*   border:1px solid #CCC;*/
   min-height:160px;
   width:97%;
   margin:0 auto;
   border-radius:5px;
/*   background:url('/images/fabric_plaid.png');*/
}


 /*---------------------------*
 *                           * 
 *  eachQuestion_b template  *
 *                           *
 *---------------------------*/

 
