/*---------------------------*
 *                           * 
 *          COMMON           *
 *                           *
 *---------------------------*/
.RlistContainer{
  width:100%;
  display:block;


}
.r_link_container{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75) , 0 1px 0 rgba(255, 255, 255, 0.1);
  float:left;
  width:130px;
  height:100px;
  background:#2F2F2F;
}
.r_play {
  float:left;
  position:relative;
  border-radius:100px;
  width:55px;
  height:55px;
  z-index:2;
  top:-80px;
  left:40px;
  text-align:center;
  background:black;
  opacity:0.2;
    -webkit-transition: opacity 0.5s ;
}
.r_play:hover{
    -webkit-transition: opacity 0.5s ;
  opacity:0.7;
  cursor:pointer;
}
.r_play i{
  color:#B4B4B4;
  font-size:50px;
  position:relative;
  right:4px;
  top:14px;

}
.r_link img{
   
  position:relative;
  float:left;
  height:100px;
  z-index:1;
/*  opacity:0.8;*/
}
.user_icon{

  float:left;
  margin-right:15px;
  border-radius:5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  overflow:hidden;
}
/*---------------------------*
 *                           * 
 * eachResponse_a template   *
 *                           *
 *---------------------------*/
.eachResponse_a{
  border:1px solid #AAA;
  background:#EEE;
  margin:10px;
  padding:10px 5px 10px 10px;
  border-radius:5px;
  
}
.eachResponse_a .responseComment{
  border-left:solid 1px #FFF;
  min-height:50px;
  float:left;
  width:390px;
  margin-left:10px;
  
  
}
/*---------------------------*
 *                           * 
 * eachResponse_b template   *
 *                           *
 *---------------------------*/

.eachResponse_b{

  width:130px;
  height:80px;
  float:left;
  margin:10px;
  padding:5px;
  border-radius:5px;}
/*---------------------------*
 *                           * 
 * responseList template     *
 *                           *
 *---------------------------*/
 
/*---------------------------*
 *                           * 
 * responseList_b template   *
 *                           *
 *---------------------------*/
 .RlistContainer{

   padding-bottom:20px;
 }


 
 