/*---------------------------*
 *                           * 
 *          COMMON           *
 *                           *
 *---------------------------*/
.playerDimer{
  position:fixed;
  z-index:100;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  min-width:800px;
  background:black;
  opacity:0.9;} 

.player{
  position:relative;
  z-index:102;
  width:400px;
  height:300px;
  margin:0 auto;
  }

  
.loadingPlayer{
  position:relative;
  top:150px;
  font-size:25px;
  display:block;
  width:250px;
  opacity:0.6;
  margin:0px auto;
  text-align:center;}
  
.icon-facetime-video{
  position:relative;
  top:-50px;
  left:60px;
  font-size:60px;}

/*---------------------------*
 *                           * 
 * questionRecorder template *
 *                           *
 *---------------------------*/
#questionRecorder{
  position:fixed;
  width:100%;
  height:100%;
  z-index:101;
  min-width:800px;
  top:0px}
  
  #questionRecorder .loadingPlayer{
      color:black;}
  #questionRecorder .closeRecorder{
    -webkit-transition: color 0.7s ease;
    position:absolute;
    right:50px;
    top:30px;
    width:40px;
    height:30px;
    font-size:50px;
    z-index:102;
    color:black;
    padding:15px 4px 5px 5px;
    border-radius:25px;
    background:white;}
  #questionRecorder .closeRecorder:hover{
    -webkit-transition: color 0.7s ease;
    color:white;
    background :#999;}
  #questionRecorder .closeRecorder:active{
    background:black;}
  #questionRecorder .content{
    width:400px;
    padding:10px;
    margin-top:50px;
    background:white;
    border-radius:10px;}
    #questionRecorder #createQuestion {
      width:400px;
    }
    #questionRecorder #createQuestion input,
    #questionRecorder #createQuestion textarea{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1) inset, 0 -1px 2px rgba(255, 255, 255, 0.1) inset;
      border-radius:5px;
      border-color:black;
      background:#0F0F0F;
      color:white;
      margin:5px;
      width:288px;
      resize:none;}
    #questionRecorder #createQuestion input:focus, 
    #questionRecorder #createQuestion textarea:focus,
    #questionRecorder #createQuestion select:focus{
      border-color:#3C3C3C;
 
    }
    
    #questionRecorder #createQuestion select{
      background:black;
      color:white;
      margin:5px;
      width:298px;
      border-color:black;
    }
    
    #questionRecorder #createQuestion .description{
      height:50px;}
    #questionRecorder #createQuestion .label{
      text-align:right;
      padding-top:12px;
      font-size:14px;
      border-radius:0px;
      background:url('/images/dark_leather.png') repeat;
      color:white;}
    #questionRecorder #createQuestion .label span{
      position:relative;
      left:5px;
      padding:2px 4px 2px 4px;
/*      background:#1D1D1D;*/
/*      background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));*/
      border-radius:5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1) inset, 0 -1px 2px rgba(255, 255, 255, 0.1) inset;
      
    }
    #questionRecorder #createQuestion .input{
      background:url('/images/dark_leather.png') repeat;}
    #questionRecorder #createQuestion .form_footer{
      border-bottom-left-radius:3px;
      border-bottom-right-radius:3px;
      background:url('/images/dark_leather.png') repeat;
      color:white;
      padding:5px;
      text-align:right;
    }
    #questionRecorder #createQuestion .submit{
      font-weight:bold;
      color:#1D1D1D;
      border:none;
      padding:5px 10px;
      border-radius:5px;
       background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
    }


/*---------------------------*
 *                           * 
 * responseRecorder template *
 *                           *
 *---------------------------*/

#responseRecorder .closeRecorder{
  -webkit-transition: color 0.7s ease;
  position:absolute;
  right:50px;
  top:30px;
  width:40px;
  height:30px;
  font-size:50px;
  z-index:102;
  color:black;
  padding:15px 4px 5px 5px;
  border-radius:25px;
  background:white;}
  #responseRecorder .loadingPlayer{
      color:black;}
#responseRecorder .closeRecorder:hover{
  -webkit-transition: color 0.7s ease;
  color:white;
  background :#999;
}
#responseRecorder .closeRecorder:active{
  background:black;
}
#responseRecorder {
  position:fixed;
  width:100%;
  height:100%;
  z-index:101;
  min-width:800px;
  top:0px;
}
#responseRecorder .content{
  width:400px;
  padding:20px;
  margin-top:100px;
  background:white;
  border-radius:10px;
}

/*---------------------------*
 *                           * 
 *   simpleVideo template    *
 *                           *
 *---------------------------*/

#simplePlayer{
/*  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75) , 0 1px 0 rgba(255, 255, 255, 0.1);*/
  min-width:400px;
  min-height:300px;
  display:block;}
/*---------------------------*
 *                           * 
 *   videoPlayer template    *
 *                           *
 *---------------------------*/
 
#videoPlayer{
  position:fixed;
  width:100%;
  height:100%;
  z-index:101;
  min-width:800px;
  top:0px;
}
#videoPlayer .content{
  margin-top:100px;
}
#videoPlayer .loadingPlayer{
  color:#E7E7E7;}
#videoPlayer .closePlayer{
  -webkit-transition: color 0.7s ease;
  position:absolute;
  width:40px;
  height:30px;
  right:20px;
  top:30px;
  font-size:50px;
  z-index:101;
  color:#3D3D3D;
  padding:15px 4px 5px 5px;
  border-radius:25px;
}
#videoPlayer .closePlayer:hover{
  -webkit-transition: color 0.7s ease;
  color:white;
}
#videoPlayer .closePlayer:active{
  background:black;
}

