

<div class="eachResponse_icon">
  <div class="user_icon">
      <img src="https://api.twitter.com/1/users/profile_image?user_id=<%=twitterId%>&size=normal" alt="" />
  </div>

  <div class="r_link_container">
    <span class='r_link' >
      <img class='previewImg' src="<%=image%>" alt="" />
      <div class="r_preview"><i class=" icon-play-circle"></i></div>
      <div style="clear:both;"></div>
    </span>
  </div>
  
  <div class="responseComment">
    
  </div>
  <div style="clear:both;"></div>
  
</div>
