

<div class="eachResponse_a">
  <img class="user_icon" src="https://api.twitter.com/1/users/profile_image?user_id=<%=twitterId%>&size=normal" alt="" />
  <div class="r_link_container">
    <span class='r_link' >
      <img class='previewImg' src="<%=image%>" alt="" />
      <div class="r_play"><i class=" icon-play-circle"></i></div>
      <!-- <div style="clear:both;"></div> -->
    </span>
  </div>
</div>
