

<div class="eachResponse_b">
  <div class="r_link_container">
    <span class='r_link' >
      <img class='previewImg' src="<%=image%>" alt="" />
      <div class="r_play"><i class=" icon-play-circle"></i></div>
      <!-- <div style="clear:both;"></div> -->
    </span>
  </div>
</div>
